<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Cadastrar pessoa</h2>
    <form action="/pessoas" method="post">
    <input type="text" name="nome" placeholder="Nome da pessoa" required>
    <button type="submit">Salvar</button>
    </form>
    <a href="/">Voltar</a>    
</body>
</html>