<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Detalhes da Pessoa</h2>
    <p><strong>ID:</strong>{{pessoa.id}}</p>
    <p><strong>Nome:</strong>{{pessoa.nome}}</p>

    <a href="/pessoas">Voltar</a>
</body>
</html>