<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Bem-vindo ao CRUD de Pessoas</h1>
    <nav>
        <a href="/pessoas">Kistar Pessoas</a>
        
        <a href="/pessoas/nova">Nova Pessoa</a>
    </nav>
</body>
</html>